.aulas{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.aula-600-start{
    padding: 40px;
    background: url(../Image/JPG/aula-600.jpeg);
    background-size: cover;
    background-position: center;
}

.aula-601-start{
    padding: 40px;
    background: url(../Image/JPG/aula-601.jpeg);
    background-size: cover;
    background-position: center;
}

.aula-602-start{
    padding: 40px;
    background: url(../Image/JPG/aula-602.jpeg);
    background-size: cover;
    background-position: center;
}

.title-start{
    text-align: center;
    color: black;
}

.information-actual-data-start{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: black;
}

.back{
    background-color: rgba(128, 128, 128, 0.521); 
    text-align: center;
    padding: 10px;
}

.data-info{
    padding: 20px 0px;
}

.multiplicator-rate-sensor{
    background-color: blanchedalmond;
    margin: auto 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.multiplicator-rate-sensor label{
    font-size: 17px;
}

@media (max-width: 950px){
    .aulas{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 40px;
    }

    .information-actual-data-start{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;
    }
}