{% extends "layout.html"%}

{% block title %}
    Rate
{% endblock %}

{% block body %}
    <div class="title-rates">
        <h1>ACTUALIZACION DE NODOS</h1>
    </div>
    <div class="form-actualization">
        <div class="rate-actualization aula-600">
            <h2 class="title-rate">Actualizar nodo aula 600</h2>
            <form action="{{'form/1'}}" method="post">
                <div class="fields-rate">
                    <div class="rate-transmition">
                        <label for="transmition">Tasa de Transmicion</label>
                        <input class="form-inp" type="text" name="transmition" id="transmition1" placeholder="Transmition rate..." onkeypress="return restrictAlphabets(event)">
                    </div>
                    <div class="rate-sensor">
                        <label for="sensor">Tasa de actualizacion de Sensores</label>
                        <input class="form-inp" type="text" name="sensor" id="sensor1" placeholder="Sensor rate..." onkeypress="return restrictAlphabets(event)">
                    </div>
                    <div class="multiplicator-rate-sensor">
                        <input type="radio" name="mult" id="seg1" value="1">
                        <label for="seg">s</label>
                        <input type="radio" name="mult" id="min1" value="60">
                        <label for="min">min</label>
                        <input type="radio" name="mult" id="hour1" value="3600">
                        <label for="hour">h</label>
                    </div>
                    <div class="button-submit">
                        <input type="submit" id="send-data" name="data" value="Actualizar" class="form-btn" onclick="return validation1()">
                    </div>
                </div>
            </form>
        </div>
        <div class="rate-actualization aula-601">
            <h2 class="title-rate">Actualizar nodo aula 601</h2>
            <form action="{{'form/2'}}" method="post">
                <div class="fields-rate">
                    <div class="rate-transmition">
                        <label for="transmition">Tasa de Transmicion</label>
                        <input class="form-inp" type="text" name="transmition" id="transmition2" placeholder="Transmition rate..." onkeypress="return restrictAlphabets(event)">
                    </div>
                    <div class="rate-sensor">
                        <label for="sensor">Tasa de actualizacion de Sensores</label>
                        <input class="form-inp" type="text" name="sensor" id="sensor2" placeholder="Sensor rate..." onkeypress="return restrictAlphabets(event)">
                    </div>
                    <div class="multiplicator-rate-sensor">
                        <input type="radio" name="mult" id="seg2" value="1">
                        <label for="seg">s</label>
                        <input type="radio" name="mult" id="min2" value="60">
                        <label for="min">min</label>
                        <input type="radio" name="mult" id="hour2" value="3600">
                        <label for="hour">h</label>
                    </div>
                    <div class="button-submit">
                        <input type="submit" id="send-data" name="data" value="Actualizar" class="form-btn" onclick="return validation2()">
                    </div>
                </div>
            </form>
        </div>
        <div class="rate-actualization aula-602">
            <h2 class="title-rate">Actualizar nodo aula 602</h2>
            <form action="{{'form/3'}}" method="post">
                <div class="fields-rate">
                    <div class="rate-transmition">
                        <label for="transmition">Tasa de Transmicion</label>
                        <input class="form-inp" type="text" name="transmition" id="transmition3" placeholder="Transmition rate..." onkeypress="return restrictAlphabets(event)">
                    </div>
                    <div class="rate-sensor">
                        <label for="sensor">Tasa de actualizacion de Sensores</label>
                        <input class="form-inp" type="text" name="sensor" id="sensor3" placeholder="Sensor rate..." onkeypress="return restrictAlphabets(event)">
                    </div>
                    <div class="multiplicator-rate-sensor">
                        <input type="radio" name="mult" id="seg3" value="1">
                        <label for="seg">s</label>
                        <input type="radio" name="mult" id="min3" value="60">
                        <label for="min">min</label>
                        <input type="radio" name="mult" id="hour3" value="3600">
                        <label for="hour">h</label>
                    </div>
                    <div class="button-submit">
                        <input type="submit" id="send-data" name="data" value="Actualizar" class="form-btn" onclick="return validation3()">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function restrictAlphabets(e){
            var x = e.which || e.keycode;
            if((x >= 48 && x <= 57))
                return true;
            else
                return false;
        }
        
        function validation1(){
            var numTrans = parseInt(document.getElementById("transmition1").value);
            var numSens = parseInt(document.getElementById("sensor1").value);
            var chSeg = document.getElementById("seg1").checked;
            var chMin = document.getElementById("min1").checked;
            var chHour = document.getElementById("hour1").checked;
            var aux = comprobation(numTrans,numSens,chSeg,chMin,chHour);
            return aux;
        }

        function validation2(){
            var numTrans = parseInt(document.getElementById("transmition2").value);
            var numSens = parseInt(document.getElementById("sensor2").value);
            var chSeg = document.getElementById("seg2").checked;
            var chMin = document.getElementById("min2").checked;
            var chHour = document.getElementById("hour2").checked;
            var aux = comprobation(numTrans,numSens,chSeg,chMin,chHour);
            return aux;
        }

        function validation3(){
            var numTrans = parseInt(document.getElementById("transmition3").value);
            var numSens = parseInt(document.getElementById("sensor3").value);
            var chSeg = document.getElementById("seg3").checked;
            var chMin = document.getElementById("min3").checked;
            var chHour = document.getElementById("hour3").checked;
            var aux = comprobation(numTrans,numSens,chSeg,chMin,chHour);
            return aux;
        }

        function comprobation(numTrans,numSens,chSeg,chMin,chHour){
            if(numTrans > 0 && numSens > 0 && numTrans >= (2*numSens)){
                if(chSeg || chMin || chHour){
                    window.alert("Valores actualizados satisfactorimente")
                    return true;
                }
                else{
                    window.alert("Seleccione alguna de las 3 opciones")
                    return false;
                }
            }
            else if(numTrans < 0 || isNaN(numTrans)){
                window.alert("Ingrese un valor de tasa de transmicion mayor que 0")
                return false;
            }
            else if(numSens < 0 || isNaN(numSens)){
                window.alert("Ingrese un valor de tasa de actualizacion de sensores mayor que 0")
                return false;
            }
            else if(numTrans < (2*numSens)){
                window.alert("El valor de tasa de transmicion tiene que ser por lo menos el doble de la tasa de actualizacion de sensores")
                return false;
            }
        }
    </script>
{% endblock %}