.machine-1-start{
    padding: 40px;
    background: linear-gradient(to right, hsla(0, 0%, 47%, 0.671), hsla(0, 0%, 62%, 0.671)), url(../Image/JPG/maquina-1.jpg);
    background-size: cover;
}

.machine-2-start{
    margin-top: 30px;
    padding: 40px;
    background: linear-gradient(to right, hsla(0, 0%, 47%, 0.671), hsla(0, 0%, 62%, 0.671)), url(../Image/JPG/maquina-2.jpg);
    background-size: cover;
}

.machine-3-start{
    margin-top: 30px;
    padding: 40px;
    background: linear-gradient(to right, hsla(0, 0%, 47%, 0.671), hsla(0, 0%, 62%, 0.671)), url(../Image/JPG/maquina-3.jpg);
    background-size: cover;
}

.title-start{
    margin: auto 240px;
    text-align: center;
    color: white;
    font-size: 25px;
}

.information-actual-data-start{
    margin-top: 20px;
    color: white;
}

.title-position{
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.table-desktop{
    width: 100%;
    border-collapse: collapse;
}

.table-desktop td, th{
    padding: 12px 15px;
    border: 2px solid rgb(148, 25, 25);
}

.table-desktop th{
    background-color: rgba(165, 42, 42, 0.445);
}

.table-mobile{
    display: none;
}

@media (max-width: 950px){    
    .title-start{
        margin: auto;
        font-size: 15px;
    }
    
    .title-position{
        font-size: 20px;
    }

    .table-desktop{
        display: none;
    }

    .table-mobile{
        display: block;
        width: 100%;
    }

    .row .column{
        display: flex;
    }

    .header, .contain{
        border: 2px solid rgb(148, 25, 25);
        padding: 10px;
    }
    
    .header{
        width: 40%;
        text-align: center;
        background-color: rgba(165, 42, 42, 0.445);
    }

    .contain{
        width: 60%;
        text-align: center;
    }
}