{% extends "layout.html"%}

{% block head %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
{% endblock %}

{% block title %}
    Aula 600
{% endblock %}

{% block body %}
<div class="actual-information">
    <div class="title-actual-data">
        <h1>Valores actales</h1>
    </div>
    <div class="information-actual-data">
        {% for key, value in actual_data.items()  %}
        {% if key == 'humidity' %}
        <div class="humidity-actual">
            <div class="title-data">
                <h2>Humedad Relativa</h2>
            </div>
            <div class="value-actual">
                <h2>
                    {{ value|round(2) }} %
                </h2>
            </div>
        </div>
        {% endif %}
        {% if key == 'pressure' %}
        <div class="pressure-actual">
            <div class="title-data">
                <h2>Presion</h2>
            </div>
            <div class="value-actual">
                <h2>
                    {{ (value/1000)|round(2) }} kPa
                </h2>
            </div>
        </div>
        {% endif %}
        {% if key == 'temperature' %}
        <div class="humidity-actual">
            <div class="title-data">
                <h2>Temperatura</h2>
            </div>
            <div class="value-actual">
                <h2>
                    {{ value|round(2) }} °C
                </h2>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}