{% extends "layout.html"%}

{% block head %}
    <!-- <meta http-equiv="refresh" content="{{actual}}"> -->
{% endblock %}

{% block title %}
    LCD
{% endblock %}

{% block body %}
    <div class="machine">
        <a href="{{url_for('machine', id=1)}}">
            <div class="machine-1-start">
                <div class="title-start">
                    <h1>MAQUINA 1</h1>
                </div>
                <div class="information-actual-data-start">
                    <h2 class="title-position">
                        Ubicacion actual
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th>DIA</th>
                                <th>MES</th>
                                <th>AÑO</th>
                                <th>HORA</th>
                                <th>MINUTO</th>
                                <th>LATITUD</th>
                                <th>LONGITUD</th>
                                <th>UBICACION</th>
                            </tr>
                            <tr>
                                <td>{{actual_data1[0]}}</td>
                                <td>{{actual_data1[3]}}</td>
                                <td>{{actual_data1[7]}}</td>
                                <td>{{actual_data1[1]}}</td>
                                <td>{{actual_data1[2]}}</td>
                                <td>{{actual_data1[4]}}</td>
                                <td>{{actual_data1[5]}}</td>
                                <td>{{actual_data1[6]}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </a>
        <a href="{{url_for('machine', id=2)}}">
            <div class="machine-2-start">
                <div class="title-start">
                    <h1>MAQUINA 2</h1>
                </div>
                <div class="information-actual-data-start">
                    <h2 class="title-position">
                        Ubicacion actual
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th>DIA</th>
                                <th>MES</th>
                                <th>AÑO</th>
                                <th>HORA</th>
                                <th>MINUTO</th>
                                <th>LATITUD</th>
                                <th>LONGITUD</th>
                                <th>UBICACION</th>
                            </tr>
                            <tr>
                                <td>{{actual_data2[0]}}</td>
                                <td>{{actual_data2[3]}}</td>
                                <td>{{actual_data2[7]}}</td>
                                <td>{{actual_data2[1]}}</td>
                                <td>{{actual_data2[2]}}</td>
                                <td>{{actual_data2[4]}}</td>
                                <td>{{actual_data2[5]}}</td>
                                <td>{{actual_data2[6]}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </a>
        <a href="{{url_for('machine', id=3)}}">
            <div class="machine-3-start">
                <div class="title-start">
                    <h1>MAQUINA 3</h1>
                </div>
                <div class="information-actual-data-start">
                    <h2 class="title-position">
                        Ubicacion actual
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th>DIA</th>
                                <th>MES</th>
                                <th>AÑO</th>
                                <th>HORA</th>
                                <th>MINUTO</th>
                                <th>LATITUD</th>
                                <th>LONGITUD</th>
                                <th>UBICACION</th>
                            </tr>
                            <tr>
                                <td>{{actual_data3[0]}}</td>
                                <td>{{actual_data3[3]}}</td>
                                <td>{{actual_data3[7]}}</td>
                                <td>{{actual_data3[1]}}</td>
                                <td>{{actual_data3[2]}}</td>
                                <td>{{actual_data3[4]}}</td>
                                <td>{{actual_data3[5]}}</td>
                                <td>{{actual_data3[6]}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </a>
    </div>
{% endblock %}