<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <link rel="shortcut icon" href="{{url_for('static', filename='/Image/PNG/logo-circulo-lcd-con-fondo.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/CSS/style-main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/CSS/style-navigation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/CSS/style-start.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/CSS/style-machine.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/CSS/style-rate.css')}}">    

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <head class="navigation">
        <div class="top-navigation">
            <nav class="top-menu-nav">
                <a href="{{url_for('home')}}" class="logo-img">
                    <img src="{{url_for('static', filename='/Image/SVG/logo-circulo-lcd.svg')}}" alt="">
                </a>
                <button class="open-menu" aria-label="Abrir menú">
                    <img src="{{url_for('static', filename='/Image/SVG/bars-solid.svg')}}" alt="abrir menu">
                </button>
                <ul class="nav-top" id="top-menu">
                    <button class="close-menu" aria-label="Cerrar menú">
                        <img src="{{url_for('static', filename='/Image/SVG/times-solid.svg')}}" alt="cerrar menu">
                    </button>
                    <li>
                        <a href="{{url_for('home')}}">INICIO</a>
                    </li>
                    <li>
                        <a href="{{url_for('machine', id=1)}}">MAQUINA 1</a>
                    </li>
                    <li>
                        <a href="{{url_for('machine', id=2)}}">MAQUINA 2</a>
                    </li>
                    <li>
                        <a href="{{url_for('machine', id=3)}}">MAQUINA 3</a>
                    </li>
                    <li>
                        <a href="{{url_for('rate')}}">RATE</a>
                    </li>
                </ul>
            </nav>
        </div>
    </head>
    <script>
        const menu = document.querySelector(".nav-top");
        const openMenuBtn = document.querySelector(".open-menu");
        const closeMenuBtn = document.querySelector(".close-menu");

        function toggleMenu() {
            menu.classList.toggle("menu_opened");
        }

        openMenuBtn.addEventListener("click", toggleMenu);
        closeMenuBtn.addEventListener("click", toggleMenu);
    </script>
    {% block body %}
    {% endblock %}
</body>
</html>